/** Global **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    line-height: 1.5;
}

/*******## Typography ##*****/

/** Header **/

.banner {
    text-align: center;
}

.title {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
}

.subtitle {
    color: #1792D2;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/** Main **/

.paragraph__title {
    font-size: 1.25rem;
}

.paragraph__subtitle {
    color: #1792D2;
    font-size: 1.125rem;
}

.caption__element {
    list-style-type: none;
    font-size: 0.75rem;
}

/** Aside **/

.post__title {
    color: #143774;
    font-size: 1rem;
}

.paragraph__title {
    font-size: 1.25rem;
}

.post__caption {
    font-size: 0.875rem;
}

/** Footer **/

.footer__copyrights,
.footer__quote {
    color: #FFFF;
    text-align: center;
    font-size: 1rem;
}

.footer__quote {
    font-weight: 700;
    letter-spacing: 0.5px;
}

/**************************************************/

/*******## Layout ##*****/

/** Header **/

.site-header {
    background-color: #f8f8f8;
    padding: 2rem 0;
}

.container-head {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

.container-head_flex {
    display: flex;
    flex-direction: column;
}

.banner {
    margin-bottom: 1rem;
    padding: 0.75rem;
}

.title-container {
    margin-bottom: 0.5rem;
}

/** Main **/

.site-main {
    margin: 3rem auto;
    width: 90%;
    max-width: 1280px;
}

.caption__element {
    display: flex;
    justify-content: flex-start;
}

.caption__date {
    border-right: solid 1px #707070;
    padding-right: 0.5rem;
}

.caption__comment {
    padding-left: 0.5rem;
}

.paragraph {
    margin: 2rem auto;
}

.paragraph__title {
    display: block;
}

.paragraph__image {
    width: 100%;
    height: auto;
    display: block;
}

.paragraph_hidden-sm {
    display: none;
}

.paragraph_text {
    margin: 1rem 0;
}

.paragraph_image-caption-container {
    margin-bottom: 1rem;
}

.paragraph__title-caption-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.paragraph__image-container {
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.paragraph__text-container {
    margin-top: 1rem;
}

.paragraph__text-container_border {
    border-bottom: solid 1px #EBEBEB;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

/** Aside **/

.sidebar {
    width: 90%;
    max-width: 1280px;
    margin: 3rem auto;
}

.sidebar__title {
    width: 90%;
    margin: 0 auto;
}

.post__container {
    border: solid 1rem #EBEBEB;
    padding: 1rem;
}

.post {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: solid 1px #EBEBEB;
}

.post_border_none {
    border: none;
}

.post__image {
    object-fit: cover;
    width: 100%;
    height: 8rem;
}

/** Footer **/

.footer__container {
    background-color: #143774;
    padding: 3rem;
}

/**************************************************/

/** Navigation **/

.navigation__menu {
    display: flex;
    flex-direction: column;
}

.navigation__item {
    padding: 0.75rem;
}

.navigation__menu {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
}

.navigation__link {
    text-decoration: none;
    color: #707070;
}

.navigation__link:hover,
.navigation__link:focus {
    color: #1792D2;
}

.navigation__link_current-page:hover,
.navigation__link_current-page:focus {
    color: #707070;
}

.navigation__link_current-page {
    border-bottom: 2px solid #707070;
}

.banner-link {
    text-decoration: none;
}

/* Main */

.paragraph__link {
    color: #1792D2;
}

.paragraph__link:hover,
.paragraph__link:focus {
    color: #143774;
}

.read-more-link {
    font-size: 0.875rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
}

.read-more-link:hover,
.read-more-link:focus {
    color: #143774;
}

/** Aside **/

.page-link {
    text-decoration: none;
    color: #143774;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.page-link:hover,
.page-link:focus {
    color: #707070;
}

.page-link-image:hover,
.page-link-image:focus {
    filter: blur(1px) grayscale(100%);
}



@media (min-width: 1024px) {

    /** Header **/

    .container-head_flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .banner {
        padding: 0;
    }

    .banner__title {
        text-align: left;
    }

    .navigation__menu {
        flex-direction: row;
    }

    .navigation__item {
        padding-right: 0;
        margin-left: 3rem;
    }

    /** Main **/

    .wrapper {
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .wrapper-main {
        width: 70%;
    }

    .wrapper-side {
        width: 25%;
    }

    .site-main {
        width: 100%;
    }

    .paragraph__post-container {
        display: flex;
        justify-content: space-between;
    }

    .paragraph_hidden-lg {
        display: none;
    }

    .paragraph_hidden-sm {
        display: block;
    }

    .paragraph__caption-image-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        overflow: hidden;
    }

    .paragraph__text-container_flex {
        width: 72%;
        margin-top: 0;
    }

    .paragraph__image_portrait {
        object-fit: cover;
        height: 13rem;
    }

    .paragraph__title-caption-container {
        display: block;
    }

    /** Aside **/

    .sidebar {
        width: 100%;
    }

}